.postdiv{
    color: black;
}
.singlepost{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 10px;
    /* margin: 10px 0; */
    /* margin: -10px 0; */
    width: 583px;
    /* height: 149px; */
    margin-left: 375px;
    margin-bottom: 12px;
    margin-top: 24px;
}
.singleComment{
    word-wrap: break-word;
}
.perComment{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
    margin-left: 75px;
}
.perPost{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
}
Link{
    text-decoration: white;
 }