
.postdiv{
    color: black;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* justify-content: space-evenly; */
    align-items: center;
}
.singlepost{
    /* border: 2px solid #dedede;
    box-shadow: 0 1rem 3rem 0.5rem rgba(173, 216, 230, 0.8);
    /* background-color: #f1f1f1; */
    /* border-radius: 12px;
    padding: 10px; */
    /* margin: 10px 0; */
    /* margin: -10px 0; */
    /* width: 665px; */
    /* height: 149px; */
    /* margin-left: 375px;
    margin-bottom: 12px;
    margin-top: 24px; */ 
    border: 5px solid #dedede;
    box-shadow: 0 1rem 3rem 0.5rem rgba(173, 216, 230, 0.8);

    border-radius: 12px;
    padding: 10px;
    margin-bottom: 15px;
    
}
.singleComment{
    word-wrap: break-word;
}
.perComment{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
    margin-left: 75px;
    word-break: break-word;
    overflow-wrap: anywhere;
}
.perPost{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
    margin-bottom: 2px;
    word-break: break-word;
    overflow-wrap: anywhere;
}
Link{
    text-decoration: white;
 }
 .innerDivPost{
    /* margin-left: 375px;
    margin-bottom: 12px;
    margin-top: 24px; */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* justify-content: space-evenly; */
    align-items: center;
 }
 .title{
  font-size: 29px;
  margin-left: 575px;
  color: #2374E1;
 }
 .user{
       /* height: 300px; */
       /* border: 5px solid black; */
       /* width: 80px; */
       display: flex;
   
 }
 .posticon{
    margin-left: 4px;
    margin-right: 5px;
 }
 .posttext{
  display: flex;
  margin-top: 16px;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  border-bottom: solid gainsboro;
 }
 .commenttext{
    /* display: flex; */
    align-items: center;
 }
 .showButton{
   /* flex-direction: row; */
   /* margin: 2px; */
   /* justify-content: space-between; */
   /* display: flex; */
   /* flex-direction: row-reverse; */
   /* align-items: flex-end; */
   /* justify-content: flex-end; */
   margin-top: 3px;
   margin-right: 3px;
   margin-left: 7px;
 }
 .deletePostButton{
   border: none;

 }
 .deletePostButton:hover {
  background-color: lightpink;
  color: white;
}
 .rightlist{
  margin-right: 12px;
   float: right;
    margin-bottom: 50px;
    border: 5px solid gainsboro;
    width: 18%;
    border-radius: 5px;
    margin-top: 8px;
 }
 .chatform{
   margin-left: 13px;
   margin-bottom: 12px;
   cursor: pointer;
   display: flex;
 }
 .chatform:hover{
  background-color: rgb(158, 146, 226);
  color: white;
 }

 .like{
   cursor: pointer;
   border: none;
 }
 .like:hover{
  background-color: aquamarine;
  color: white;
 }

 .images{
  border: solid 5px black;

  width: 642px;
  height: 537px;
 }
 .logoPic{
   height: 46px;
   width: 46px;

 }
 .leftE{
   float: left;
  
 }
 .rightE{
   float: right;
 }
 .username{
   padding: 9px;
 }
 .icondiv{
   float: right;
 }
 .name{
   float: left;
 }
 .Friendname{
   margin-top: 16px;
   margin-left: 7px;
 }
 .likecomment{
  display: flex;
  justify-content: space-between;
  
 }
 .likeChat{
  display: flex;
    flex-direction: row;
  
    justify-content: space-around;
    align-items: center;
    border: solid gainsboro;
    border-radius: 8px;
 }
 .chatbutton{
  width: 26px;
 }
 .buttonChat{
  border: none;
 }