.leftdiv{
    /* float: left;
    width: 36%;
    height: 159px;
    align-items: center;
    /* margin: 90px; */
    /* justify-content: center;
    margin-left: 228px;
    margin-top: 71px; */ 
    float: left;
    /* width: 36%; */
    /* height: 159px; */
    align-items: center;
    /* margin: 90px; */
    justify-content: center;
    margin-left: 93px;
    margin-top: 71px;
}
.rigth{
    float: right;
    /* height: 348px; */
    
    min-width: 32%;
    /* width: 28%; */
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 7px;
    /* padding: 10px; */
    /* margin: 10px 0; */
    /* margin: -10px 0; */
    /* width: 583px; */
    /* margin-left: 74px; */
    margin-top: 51px;
    margin-right: 267px;
}
.desc{
    /* font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif; */
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.email{
    margin: 24px;
}
.emailtab{
    /* width: 257px; */
    margin-left: 36px;
    border-radius: 7px;
    /* height: 30px; */
}
.password{
    margin: 24px; 
}
.passwordtab{
    /* width: 257px; */
    margin-left: 6px;
    border-radius: 7px;
    /* height: 30px; */
}
.login{
    /* width: 204px; */
    /* margin-left: 6px; */
    /* height: 37px; */
    /* margin: 8px; */
    border-radius: 16px;
    background-color: #2374E1;
    color: white;
    margin-top: 13px;
    margin-left: 35px;
    cursor: pointer;
}
.signin{
    
    width: 204px;
    /* margin-left: 6px; */
    /* height: 37px; */
    /* margin: 8px; */
    border-radius: 16px;
    background-color: #42b72a;
    color: white;
    margin-top: 13px;
    margin-left: 35px;
    cursor: pointer;
}
.errors{
    color:red
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: left;
    height: 65px;
    padding-left: 107px;
    border-top: 1px solid rgb(221, 221, 221);
    font-size: 16px;
    align-items: center;
    
}
#repos{
    justify-content: center;
    padding-top: 27px;
    color: black;
   
}
.link{
    margin-right: 64px;
}