.eachPost{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    /* margin: 10px 0; */
    margin: -10px 0;
    width: 661px;
    margin-bottom: 33px;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: anywhere;
}
.right{
    margin-left: 340px;
    /* float: right;
    height: 100%; */
    width: 71%;
}
.eachcomment{
    /* border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    width: 586px;
    /* display: flex; */
    /* flex-direction: row;
    height: 79px;
    word-wrap: break-word; */
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
    margin-left: 55px;
    word-break: break-word;
    overflow-wrap: anywhere;
}
/* .createEachcomment{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0;
    width: 586px;
    display: flex;
    flex-direction: row;
} */
.left{
    float: left;
    width: 23%;
    height: 159px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 13px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 170px;
    
}
.house,.location,.heart,.clock{
    padding: 10px;
}

/* .addPost{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 12px 0;
    width: 583px;
    height: 106px;
} */
/* .innerDiv{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 19px;
    padding: 10px;
    width: 427px;
    margin-left: 88px;
    margin-top: 33px;
} */

.editPostButton{
    border: none;
}
.trashbuttons{
    /* display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    /* justify-content: flex-end; */
    /* margin-top: 3px;
    margin-right: 3px; */ 
   
    flex-direction: row;
    /* margin: 2px; */
    /* justify-content: space-between; */
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    margin-top: 3px;
    margin-right: 3px;

}

.chat{
   
        width: 19px;
        margin-left: 8px;
        margin-right: 4px;
}
.personal{
    /* margin-left: 421px; */
    font-size: 29px;
    color: #2374E1;  
    align-items: center;
    justify-content: center;
    display: flex;
 
}
.deletePostButton{
    cursor: pointer;
    margin-left: 10px;
    float: right;
}

.deleteCommentButton{
    cursor: pointer;
    border: none;
}
.commentUser{
    /* margin-right: 409px; */
    margin-left: 10px;
    display: flex;
}

.tab{
    /* display: flex; */
    align-items: center;
   
}
.separateDiv{
    flex-direction: row;
   
    display: flex;
  
    margin-top: 3px;
    margin-right: 3px;
}
.postspan{
    /* display: flex; */
    align-items: center;
 }

 .toppic{
    width: 519px;
 }
 .profile{
    float: left;
 }
 .profilePage{
    float: right;
    margin-top: 189px;
    margin-right: 403px;


 }
 .divided{
    border: 5px solid black;
    height: 527px;

 }
 .username{
    padding: 12px;

 }
 .text{
    float: left;
 }
 .postDetails{
    border: 2px solid #dedede;
    /* background-color: #f1f1f1; */
    border-radius: 5px;
    padding: 3px;
    margin: 10px 0;
    /* width: 586px; */
    /* display: flex; */
    flex-direction: row;
    /* height: 79px; */
    word-wrap: break-word;
    margin-bottom: 2px;
    word-break: break-word;
    overflow-wrap: anywhere;

 }
 .common-button{
    float: right;
 }
 .editEachcomment{
    float: right;
 }